<div class="user-image">
    <% if @user.image_name? %>
      <%= link_to @user.image_name.url, target: "_blank",:rel => "lightbox" do %>
        <%= image_tag @user.image_name.url, :class => "user-image-position" %>
      <% end %>
    <% else %>
        <%= image_tag "default_user.jpg", :class => "user-image-position" %>
    <% end %>
</div>
  <p class="user-name">
    <%= @user.name %>
    <% if current_user?(@user) %>
    <span>
      <%= link_to option_path do %>
        <%= fa_icon 'cog', class: "cog" %>
      <% end %>
    <% end %>
    </span>
  </p>
  <% if logged_in? %>
    <% unless current_user == @user %>
      <div class="follow">
      <% if current_user.following? @user %>
        <p><%= link_to 'フォロー中', unfollow_path(@user), method: :delete, :class => "follow-t" %></p>
      <% else %>
        <p><%= link_to 'フォローする', follow_path(@user), method: :post, :class => "follow-t" %></p>
      <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="followlist">
    <%= link_to "#{@user.follow_count} フォロー",follow_list_path(@user), :class => "following" %>
    <%= link_to "#{@user.followers_count} フォロワー",follower_list_path(@user), :class => "follower" %>
  </div>
  <% if @user.introduction? %>
    <div class="introduction-box">
      <p class="introduction"><%= @user.introduction %></p>
    </div>
  <% end %>

  <div class="user-set">
    <div class="user-set-box">
      <ul class="user-set-list">
        <li class="themes">テーマ</li>
        <li class="comments">コメント</li>
        <li class="likes">いいね</li>
      </ul>
    </div>

  <div class="themes-box">
    <% @user.microposts.each do |micropost| %>
      <div class="block">
        <div class="form-range">
          <%= link_to micropost.user do %>
            <%= image_tag micropost.user.image_name.url, :class => "image" %>
          <% end %>
        </div>
        <div class="form-range-2">
        <p class="name"><%= link_to "#{micropost.user.name}".truncate(15), micropost.user, :class => "name"%></p>
        <p class="time"><%= simple_time(micropost.created_at) %></p>
        <p class="micropost"><%= link_to micropost.content.truncate(30),"/microposts/#{micropost.id}", :class => "micropost" %></p>
        <div class="right">
          <span class="comment"><%= link_to "コメント(#{micropost.comments.count})","/microposts/#{micropost.id}", :class => "comment"%></span>
          <% if micropost.user == current_user %>
            <%= link_to "削除", micropost_path(micropost.id), method: :delete,
                   data: { confirm: "本当に削除しますか?" } %>
          <% end %>
          </div>
        </div>
        <hr />
      </div>
    <% end %>
  </div>


  <div class="comments-box">
    <% @comments.each do |comment| %>
      <div class="block">
        <div class="form-range">
          <%= link_to comment.user do %>
            <%= image_tag comment.user.image_name.url, :class => "image" %>
          <% end %>
        </div>
        <div class="form-range-2">
        <p class="name"><%= link_to "#{comment.user.name}".truncate(15), comment.user, :class => "name"%></p>

        <p class="time"><%= simple_time(comment.created_at) %></p>

        <p class="micropost"><%= link_to comment.body,"/microposts/#{comment.micropost_id}", :class => "micropost"%></p>
        <% if comment.picture? %>
          <%= link_to comment.picture.url, target: "_blank",:rel => "lightbox" do %>
            <%= image_tag comment.picture.url, :class => "picture-size" %>
          <% end %>
        <% end %>
        <div class="right">
          <div id="likes_buttons_<%= comment.id %>">
            <%= render partial: 'likes/like', locals: { comment: comment, likes: @likes} %>
          </div>
        <% if comment.user == current_user %>
          <%= link_to "削除", comment_path(comment.id), method: :delete,
                   data: { confirm: "本当に削除しますか?" } %>
        <% end %>
        </div>
        </div>
        <hr />
      </div>
    <% end %>
  </div>


  <div class="likes-box">
    <% @likes.each do |like|%>
    <% comment = Comment.find_by(id: like.comment_id)%>
      <div class="block">
        <div class="form-range">
          <%= link_to comment.user do %>
            <%= image_tag comment.user.image_name.url, :class => "image" %>
          <% end %>
        </div>
        <div class="form-range-2">
        <p class="name"><%= link_to "#{comment.user.name}".truncate(15), comment.user, :class => "name"%></p>

        <p class="time"><%= simple_time(comment.created_at) %></p>

        <p class="micropost"><%= comment.body.truncate(30)%></p>
        <% if comment.picture? %>
          <p class="click-picture"><<画像>></p>
          <div class="picture-js-box">
            <p class="exit">閉じる</p>
            <div class="picture-js">
              <%= image_tag comment.picture.url, size: "300x300"%>
            </div>
          </div>
        <% end %>
        <div class="right">
        <% if comment.find_like_by(current_user) %>
          <%= link_to comment_like_path(comment, comment.find_like_by(current_user)),
            method: :delete, remote: true do %>
            <%= fa_icon 'heart', class: "fa-pink" %>
          <% end %>
        <% else %>
          <%= link_to comment_likes_path(comment), method: :post, remote: true do %>
            <%= fa_icon 'heart', class: "fa-white" %>
          <% end %>
        <% end %>
        <%= comment.likes.count %>

        <% if comment.user == current_user %>
          <%= link_to "削除", comment_path(comment.id), method: :delete,
                   data: { confirm: "本当に削除しますか?" } %>
        <% end %>
        </div>
        </div>
        <hr />
      </div>
    <% end %>
  </div>

  <script>
    $(function() {
      $('.themes-box').show();
      $('.themes').css('border-bottom', 'solid black');
      $('.comments-box').hide();
      $('.comments').css('border-bottom', '');
      $('.likes-box').hide();
      $('.likes').css('border-bottom', '');
      // 「#hide-text」要素に対するclickイベントを作成してください
      $('.themes').click(function() {
        $('.likes-box').hide();
        $('.comments-box').hide();
        $('.themes-box').show();
        $('.themes').css('border-bottom', 'solid black');
        $('.comments').css('border-bottom', '');
        $('.likes').css('border-bottom', '');
      });
      $('.comments').click(function() {
        $('.likes-box').hide();
        $('.themes-box').hide();
        $('.comments-box').show();
        $('.comments').css('border-bottom', 'solid black');
        $('.themes').css('border-bottom', '');
        $('.likes').css('border-bottom', '');
      });
      $('.likes').click(function() {
        $('.comments-box').hide();
        $('.themes-box').hide();
        $('.likes-box').show();
        $('.likes').css('border-bottom', 'solid black');
        $('.themes').css('border-bottom', '');
        $('.comments').css('border-bottom', '');
      });
    });
  </script>

  <script>
    $(function() {
      $('.picture-js-box').hide();
      $('.click-picture').click(function() {
        $('.picture-js-box').show();
      });
      $('.exit').click(function() {
        $('.picture-js-box').hide();
      });
    });
  </script>
