<div class="about">
  <h1>談話室とは</h1>
  <p>話したいテーマをあげてもらい、気になるテーマについて話しましょう</p>
  <p>※誹謗中傷はしないでください。</p>
</div>

<div class="new-rank-box">
<ul class="new-rank">
  <li class="new">新着</li>
  <li class="rank">人気</li>
</ul>

<div class="new-rank-which newlist">
  <p class="number">新着3件まで表示</p>
  <% @microposts_new.first(3).each do |micropost| %>
    <div class="block">
      <div class="form-range">
        <%= link_to micropost.user do %>
          <%= image_tag micropost.user.image_name.url, :class => "image" %>
        <% end %>
      </div>
      <div class="form-range-2">
        <p class="name"><%= link_to "#{micropost.user.name}".truncate(15), micropost.user, :class => "name"%></p>
        <p class="time"><%= simple_time(micropost.created_at) %></p>
        <p class="micropost"><%= link_to micropost.content.truncate(150),"/microposts/#{micropost.id}", :class => "micropost" %></p>
        <div class="right">
          <span class="comment"><%= link_to "コメント(#{micropost.comments.count})","/microposts/#{micropost.id}", :class => "comment"%></span>
          <% if micropost.user == current_user %>
            <%= link_to "削除", micropost_path(micropost.id), method: :delete,
                 data: { confirm: "本当に削除しますか?" } %>
          <% end %>
        </div>
      </div>
      <hr />
    </div>
  <% end %>
</div>
<div class="new-rank-which ranklist">
  <p class="number">ランキング上位3件まで</p>
  <% @microposts_rank.first(3).each do |micropost| %>
  <div class="block">
    <div class="form-range">
      <%= link_to micropost.user do %>
        <%= image_tag micropost.user.image_name.url, :class => "image" %>
      <% end %>
    </div>
    <div class="form-range-2">
      <p class="name"><%= link_to "#{micropost.user.name}".truncate(15), micropost.user, :class => "name"%></p>
      <p class="time"><%= simple_time(micropost.created_at) %></p>
      <p class="micropost"><%= link_to micropost.content.truncate(150),"/microposts/#{micropost.id}", :class => "micropost" %></p>
      <div class="right">
        <span class="comment"><%= link_to "コメント(#{micropost.comments.count})","/microposts/#{micropost.id}", :class => "comment"%></span>
        <% if micropost.user == current_user %>
          <%= link_to "削除", micropost_path(micropost.id), method: :delete,
               data: { confirm: "本当に削除しますか?" } %>
        <% end %>
      </div>
    </div>
      <hr />
    </div>
  <% end %>
</div>
</div>

<div class="twitter-continer">
<a href="http://localhost:3000/auth/twitter" class="twitter-api">Twitter連携(あなたがログインしているアカウントidを表示)</a>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if session[:nickname] %>
  <p><%= "#{session[:nickname]}さん、こんにちは" %></p>
  <li><%= link_to "ログアウト", logout_path, method: :delete, :style=>"color:black;" %></li>
<% end %>
</div>

<script>
  $(function() {
    $('.newlist').show();
    $('.new').css('border-bottom', 'solid black');
    $('.ranklist').hide();
    $('.rank').css('border-bottom', '');
    // 「#hide-text」要素に対するclickイベントを作成してください
    $('.new').click(function() {
      $('.ranklist').hide();
      $('.newlist').show();
      $('.new').css('border-bottom', 'solid black');
      $('.rank').css('border-bottom', '');
    });
    $('.rank').click(function() {
      $('.newlist').hide();
      $('.ranklist').show();
      $('.new').css('border-bottom', '');
      $('.rank').css('border-bottom', 'solid black');
    });
  });
</script>
