<h1 class="top">投稿詳細ページ</h1>
  <div class="detail">
    <div class="form-range">
      <%= link_to @micropost.user do %>
      <%= image_tag @micropost.user.image_name.url, :class => "image" %>
    <% end %>
    </div>
  <div class="form-range-2">
    <p class="name"><%= link_to "#{@micropost.user.name}".truncate(15), @micropost.user, :class => "name"%></p>
    <p class="time"><%= simple_time(@micropost.created_at) %></p>
    <p class="micropost"><%= link_to @micropost.content.truncate(30),"/microposts/#{@micropost.id}", :class => "micropost" %></p>
    <div class="right">
      <span class="comment"><%= link_to "コメント(#{@micropost.comments.count})","/microposts/#{@micropost.id}", :class => "comment"%></span>
      <% if @micropost.user == current_user %>
        <%= link_to "削除", micropost_path(@micropost.id), method: :delete,
           data: { confirm: "本当に削除しますか?" } %>
      <% end %>
    </div>
  </div>
  <hr />
  </div>
<% if logged_in? %>
  <div class="comment-form">
    <%= form_for([@micropost , @comment]) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="comment-input">
      <%= f.text_area :body, placeholder: "コメントを入力", class: "comment-form-field" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'image-edit' %>
    </div>
    <div class="comment-post">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
    <% end %>
  <% end %>
  </div>

<div class="comment_index">
  <h3>コメント一覧</h3>
  <% @micropost.comments.order(created_at: :desc).each do |comment| %>
  <div class="block">
    <div class="form-range">
      <%= link_to comment.user do %>
        <%= image_tag comment.user.image_name.url, :class => "image" %>
      <% end %>
    </div>
    <div class="form-range-2">
      <p class="name"><%= link_to "#{comment.user.name}".truncate(15), comment.user, :class => "name"%></p>
      <p class="time"><%= simple_time(comment.created_at) %></p>
      <p class="micropost"><%= comment.body%></p>
      <% if comment.picture? %>
        <%= link_to comment.picture.url, target: "_blank",:rel => "lightbox" do %>
          <%= image_tag comment.picture.url, :class => "picture-size" %>
        <% end %>
      <% end %>
      <div class="right">
        <div id="likes_buttons_<%= comment.id %>">
          <%= render partial: 'likes/like', locals: { comment: comment, likes: @likes} %>
        </div>
      <% if comment.user == current_user %>
        <%= link_to "削除", comment_path(comment.id), method: :delete,
                data: { confirm: "本当に削除しますか?" } %>
      <% end %>
      </div>
    </div>
    <hr />
  </div>
<% end %>
</div>
<script type="text/javascript">
  $('#comment_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MB以上の画像ファイルは送信できません');
    }
  });
</script>
