@import "bootstrap-sprockets";
@import "bootstrap";


//共通

a{
  text-decoration: none;
}

a:hover{
  color: black;
}

p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFFFE0;
}

.top{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.image{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 10px;;
  left: 0;
  margin: auto;
}

hr:last-child{
    display:none;
}

.click-picture{
  cursor: pointer;
  float: left;
}

.picture-js-box{
  height: 100vh;
  width: 100vw;
  padding: 70px;
  background-color: rgba(000, 000, 000, 0.9);
  z-index: 10;
  position: fixed;
    top: 0;
    left: 0;
}

.picture-js{
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-size{
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.exit{
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.fa-pink{
  color: red;
}

.fa-white{
  color: white;
  text-shadow: black 1px 1px 0, black -1px -1px 0,/*右下、左上*/
        black -1px 1px 0, black 1px -1px 0,/*右上、左下*/
        black 0px 1px 0, black  0-1px 0,/*右、左*/
        black -1px 0 0, black 1px 0 0;/*上、下*/

}
// 画面固定

#header{
  height: 45px;
  width: 100%;
  background-color:#DEB887;
  z-index: 99;
  position: fixed;
  top: 0;
}

.logo{
  float: right;
  text-decoration: none;
  font-size: 27px;
  line-height: 45px;
  padding-right: 50px;
  color: black;
  float: left;
  margin-left: 130px;
}

.header-list{
  height: 100%;
  float: right;
  margin-right: 150px;
}

.header-list li{
  float: left;
  margin-left: 35px;
  font-size: 16px;
  line-height: 45px;
  list-style: none;
}

.message{
  margin-top: 45px;
  padding: 10px 0;
  text-align: center;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.notice {
  background-color: skyblue;
  color: white;
}

.danger{
  background-color: pink;
  color: red;
}

.main{
  margin-top: 70px;
}

/* forms */
#error_explanation {
  color: red;
  width: 200px;
  margin: 0 auto;
  ul {
    color: red;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-control{
  width: 300px;
  margin: 0 auto 20px auto;
}


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.btn{
  width: 100%;
  height: 100%;
}

.btn-theme{
  width: 50%;
  height: 100%;
}

.submit{
  margin: 0 auto 15px auto;
  height: 35px;
  width: 200px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.post-form{
  height: 100px;
  width: 100%;
  margin: 30px auto 20px auto;
  border-radius: 8px;
  text-align: center;
}

// ホーム
.about{
  margin: 50px auto 0 auto;
  height: 150px;
  width: 100%;
   h1{
     text-align: center;
     font-size: 25px;
     font-weight: bold;
     padding-bottom: 20px;
   }p{
     font-size: 16px;
     text-align: center;
   }
 }

 .new-rank-box{
   width: 60%;
   background-color: white;
   border-radius: 8px;
   box-shadow: 1px 0px 5px grey;
   margin: 0 auto 30px auto;
 }

 .new-rank{
   height: 13%;
   width: 130px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
    li{
      float: left;
      margin: 20px 15px 0 5px;
      list-style: none;
      font-size: 22px;
    }
  }

  .new{
    cursor : pointer;
  }

  .rank{
    cursor : pointer;
  }

  .new-rank-which{
    height: 85%;
    width: 100%;
    display: none;
    background-color: white;
    border-radius: 8px;
  }

  .number{
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
  }

  .block{
    height:auto;
	  overflow:hidden;
    width: 100%;
    border-top: solid 1px black;
    background-color: white;
    border-radius: 0 0 8px 8px;
    word-wrap: break-word;
  }

  .form-range{
    float: left;
    width: 12%;
    position: relative;
  }
  .form-range-2{
    float: left;
    width: 88%;
    height: 100%;
    padding: 10px;
    margin-left: 100px;
    position: relative;
  }

  .right{
    position: absolute;
	  right: 0;
	  bottom: 0;
  }

  .name{
    font-size: 18px;
    float: left;
    margin-right: 10px;
    color: black;
  }
  .time{
    font-size: 18px;
    color: grey;

  }
  .micropost{
    font-size: 18px;
    color: black;
  }

  .comment{
    color: black;
  }

  .twitter-continer{
    height: 250px;
    width: 350px;
    background-color: skyblue;
    margin: 0 auto;
    padding: 50px;
    .twitter-api{
      font-size: 18px;
      color: white;
    }
  }

// 新着

.continer{
  height: auto;
  width: 60%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 0px 5px grey;
  margin: 0 auto;
}


//新規登録
.signup{
  padding-top:25px;
  font-size: 23px;
  text-align: center;
}

.signup-can{
  height: 180px;
  width: 25%;
  background-color: white;
  margin: 25px auto 30px auto;
  border-radius: 8px;
  border: solid 1px #FFEFD5;
}
.signup-can-be{
   h2 {
     padding: 10px;
     text-align: center;
     font-size: 20px;
   }
   p{
     text-align: center;
     font-size: 15px;
   }
 }

 .form{
   width: 30%;
   background-color: white;
   margin: 0 auto;
   border-radius:10px;
   border: solid 1px #FFDEAD;
 }

 .signupsize{
   padding: 20px;
 }

 //ログイン

.login{
  padding:25px 0 30px 0;
  font-size: 23px;
  text-align: center;
 }

 .loginsize{
   padding: 25px;
 }

 //テーマを書く
 .theme{
   width: 30%;
   margin: 0 auto;
 }

 // 投稿詳細
 .detail-box{
   height: 180px;
   width: 90%;
   margin: 0 auto;
 }

 .detail{
   height: 100px;
   width: 60%;
   background-color: white;
   border-radius: 8px;
   margin: 0 auto;
   box-shadow: 1px 0px 5px grey;
 }

 .comment-form{
   width: 40%;
   background-color: white;
   border-radius: 8px;
   box-shadow: 1px 0px 5px grey;
   padding: 10px;
   margin: 20px auto;
 }

 .comment-input{
   margin: 10px auto;
   text-align: center;
 }

 .comment-form-field{
   text-align: center;
   height: 110px;
   width: 80%;
 }

 .comment-post{
   height: 30px;
   width:300px;
   margin: 35px auto;
 }

 .comment_index{
   width: 60%;
   margin: 40px auto;
   background-color: white;
   border-radius: 8px;
   box-shadow: 1px 0px 5px grey;
   h3{
     text-align: center;
     padding: 10px;
   }
 }

 //マイページ
.user-image{
  height: 150px;
  width: 150px;
  margin: 40px auto 0;
}

.user-image-position{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-name{
  margin: 10px auto;
  text-align: center;
  font-size: 25px;
}

.cog{
  color: grey;
}

.follow{
  text-align: center;
}

.follow-t{
  color: white;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  background-color: skyblue;
  border-radius: 30px;
  text-decoration: none !important;
}

.follow-t:hover{
  color: white;
}

.followlist{
  margin: 20px auto;
  padding: 0 25px;
  height: 50px;
  width: 310px;
  font-size: 18px;
  border-right: 3px solid #aaa;
  border-left: 3px solid #aaa;
  line-height: 50px;
}

.follower{
  float: right;
}

.option{
  color: black;
  font-size: 15px;
  li{
    margin-left: 80px;
  }
}

.introduction-box{
  width: 35%;
  margin: 0 auto;
}

.introduction{
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.user-set{
  width: 60%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 1px 0px 5px grey;
  border-radius: 8px;
  margin-bottom: 10px;
}

.user-set-box{
  height: 70px;
  padding: 20px;
  font-size: 20px;
  li{
    cursor : pointer;
  }
}

.user-set-list{
  height: 30px;
  line-height: 30px;
  width: 45%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.micropost-box{
  width: 100%;
}

// 編集ページ
.edit{
  width: 30%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: white;
  box-shadow: 1px 0px 5px grey;
  border-radius: 8px;
}

.image-edit{
  margin: 10px auto 5px auto;
  text-align: center;
}

.edit p{
  font-weight: bold;
}

.image-delete{
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
  color: grey
}
